@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*===== Css Varibale ===*/
:root{
    /*===== Main theme colors ===*/
    --first-color: #0e2431;
    --second-color: #6a59d1;
    --third-color: #777;

    /*===== Hover colors ===*/

    --hover-color: #614fd0;


    /*===== Background colors ===*/
    
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --model-bg-color: #fff;
    --bg-transparent-color: rgba(0,0,0,0.1);
    --transparent-color-01: rgba(0,0,0,0.1);
    --transparent-color-02: rgba(106,89,209,0.1);


    /*===== color filter ===*/

    --color-filter: invert(1);

    /*===== Box Shadow ===*/

    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /*===== Font Size ===*/

    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /*===== Scroll bar Colors ===*/

    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--first-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}


 /*===== Header / Nav ===*/

header{
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(25px);
    transition: .6s ease;
}

.navbar.show {
    background-color: white;
}

/* .navbar-collapse {
    background-color: white;
} */

/* .navbar-toggle {
    margin: 0;
} */

.nav-bar{
    position: relative;
    height: calc(3rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;
}

.nav-bar .logo{
    color: var(--first-color);
    font-size: 1.5em;
    font-weight: 400;
}
.nav-items{
    margin-left: 300px;
}
.nav-items a{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-left: 50px;
}

.nav-items a:not(:last-child){
    margin-right: 10px;
}

.nav-items a:hover{
    color: var(--second-color);
}


/*===== Home ===*/

.home{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
}

.home .home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-container .info h2{
    font-size: 4em;
    font-weight: 300;
    line-height: 70px;
}

.home-container .info h3{
    color: var(--third-color);
    font-feature-settings: 1.3em;
    font-weight: 800;
    line-height: 50px;
}

.home-container .info p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 350px;
}

.btns{
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    text-decoration: none;
}

.home-container .btns i{
    margin-left: 10px;
}

.btns:hover{
    background: var(--hover-color);
    color: antiquewhite;
}

.home-container .home-img{
    position: relative;
}

.home-container .home-img img{
    border-radius: 8px;
    max-width: 300px;
    transform: translate(0,0);
}

.home-container .home-img:after{
    content:'';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--hover-color);
    border-right: 10px solid var(--hover-color);
    right: -50px;
    bottom: -40px;
}

.home-container .home-img:before{
    content:'';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--hover-color);
    border-left: 10px solid var(--hover-color);
    left: -50px;
    top: -40px;
}

/*===== Common style for all sections ===*/

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.section-title{
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 3rem;
    text-decoration: underline var(--second-color) 4px;
}

.container{
    position: relative;
    flex-direction: column;
}


/*===== About us Section CSS ===*/

.about .container .content{
    column-gap: 50px;
    width: 100%;
}

.content .about-img{
    position: relative;
}

.content .about-img img{
    max-width: 100%;
    min-width: 500px;
    border-radius: 10px;
    transform: translate(0,0);
}

.about-info .summary h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .summary h4{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .summary h4 span{
    color: var(--second-color);
}

.about-info .summary h4 p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 20px;
}


/*===== SKills / Education CSS ===*/


.skills-info{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

/* .all-education{
    margin-top: 50px;
} */


.edu-list .item{
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: solid 3px var(--second-color);
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    transition: .5s ease;
}

.edu-list .item .year{
    font-size: var(--small-font-size);
    margin-bottom: 5px;
}

.edu-list .item p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
}

.bars{
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 5px;
    transition: .5s ease;
}

.bars .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--small-font-size);
    margin-bottom: 10px;
}

.bars .info span{
    font-weight: 500;
}

.bars .line{
    position: relative;
    width: 100%;
    height: 7px;
    border-radius: 5px;
}

.bars .html{
    width: 95%;
    background: var(--second-color);
}

.bars .css{
    width: 80%;
    background: var(--second-color);
}

.bars .bootstrap{
    width: 70%;
    background: var(--second-color);
}

.bars .javascript{
    width: 65%;
    background: var(--second-color);
}

.bars .php{
    width: 75%;
    background: var(--second-color);
}

.bars .mysql{
    width: 65%;
    background: var(--second-color);
}


/*===== Hobbies CSS ===*/

.hobbie-list{
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: solid 3px var(--second-color);
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    transition: .5s ease;
}

.hobbies img{
    width: 50px;
    font-size: 1.em;
    margin-right: 10px;
    padding: 5px;
    vertical-align: middle;
}

.hobbie-list li{
    margin: 20px;
}

.hobbie-list span{
    font-size: var(--small-font-size);
    font-weight: 500;
}


/*===== Contact Me CSS ===*/

.contact .container .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-left h2{
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact-list li{
    margin-bottom: 40px;
}

.contact-list li h3{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li h3 i{
    color: var(--second-color);
    font-size: 1.em;
    margin-right: 10px;
}

.contact-list li span{
    color: var(--third-color);
    margin-left: 40px;
}

.contact-list li span a{
    color: var(--third-color);
}

.contact-form input,  .contact-form textarea{
    border: none;
    width: 100%;
    color: var(--first-color);
    background: var(--transparent-color-02);
    font-size: var(--normal-font-size);
    margin: 20px 20px 20px 0px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
}

.contact-form textarea{
    resize: none;
}

.contact-form .btn{
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
}

::placeholder{
    color: var(--first-color);
}


/*===== Footer CSS ===*/


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-color);
    width: 100%;
    margin-top: 40px;
    padding: 3rem 2rem;
    color: #fff;
}

footer a{
    color: #fff;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
}

.footer-container .about h2{
    font-size: 2em;
    font-weight: 300;
}

.footer-container .about p{
    font-size: var(--normal-font-size);
    font-weight: 200;
    margin-top: 25px;
}

.footer-container .info, .footer-container .follow{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-container .info h3, .footer-container .follow h3{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 25px;
}

.footer-container .info ul, .footer-container .follow ul{
    display: flex;
}

.footer-container .info a{
    margin: 20px;
}

.footer-container .follow a{
    font-size: 1.5em;
    margin: 20px;
}

.footer-copyright {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-top: 50px;
}




@media screen and (max-width: 1000px){
    
/*===== Home sections ===*/

/* .home-container{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    column-gap: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10vh;
    margin-right: 0;
    padding-right: 0;
} */

.home-container{
    display: flex;
    flex-direction: row;
    margin-left: 1vh;
}

.home .home-container .info{
    font-size: 0.9rem;
   
}

.home-img{
    margin-left: 15vh;
}
.home-img img{
    min-width: 0;
    width: 100%;
}


/*===== About sections ===*/


.about .container .content{
    display: grid;
    width: 100%;
    row-gap: 20px;
}
.about .container{
    margin-left: 15vh;
}
.about-img img{
    min-width: 0;
    width: 100%;
}
.about-info{
    min-width: 0;
    width: 100%;
}

/*===== Contact sections ===*/

.contact .content{
    flex-direction: column;
    font-size: 0.9rem;
}


.footer-container .about, .footer-container .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 25px;
}

.footer-container .info ul{
    align-items: center;
    flex-direction: column;
}

.footer-container .info ul li{
    margin: 6px;
}

footer{
    width: 100%;
}

.footer-container a{
    text-decoration: none;
}

/* .footer-container .hr{
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0 22px;
} */
}


/*===== Media Query for all sections ===*/

@media screen and (max-width: 730px){
    
    body{
        margin: 5rem 0 0;
    }
    
    .section-title{
        font-size: 3em;
    }
    /*===== Home sections ===*/

    .home-img{
        display: none;
    }

    .home .home-container .info{
        display: block;
    }

    footer{
        width: 100%;
    }
}
